<!--<button mat-button [matMenuTriggerFor]="appMenu">Menu</button>
<mat-menu #appMenu="matMenu">
  <button mat-menu-item routerLink="/sgtkin">Settings</button>
  <button mat-menu-item routerLink="/sgtkin">Help</button>
</mat-menu>



<div style="text-align:center">
  <h1>Welcome to {{title}}!</h1>
</div>
<nav>
  <a routerLink="/sgtkin">Heroes</a>
</nav>
<router-outlet></router-outlet>
<app-sgtkin></app-sgtkin>-->
<div class="container-fluid">
      <div class="row">
<nav class="col-md-1 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/sgtkin">
          <span data-feather="home"></span>
          SgtkIn <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sgtkin">
          <span data-feather="file"></span>
          SgtkOut
        </a>
      </li>
    </ul>
  </div>
</nav>
</div>
</div>
<router-outlet></router-outlet>
      

